.header {
  padding: 16px 104px 17px 104px;

  background: #f9fafbcc;

  border-bottom: 2px solid #dee1e6ff;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;

  & .logo-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    background: #0673e0ff;

    border-radius: 50%;

    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
        brightness(102%) contrast(102%);
    }
  }

  & .logo-text {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #0673e0ff;
  }
}
