.card-summary {
  width: 192px;

  padding: 17px 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  background: #f9fafbff;
  border-radius: 14px;
  border-width: 1px;
  border-color: #dee1e6ff;
  border-style: solid;

  & .card-summary__stat {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #181b20ff;
  }

  & .card-summary__description {
    font-family: 'Inter';
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #555d6dff;
  }

  & .pending {
    color: #0673e0ff;
  }
}
