* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  min-height: 100vh;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  list-style: none;
}
